<div class="about">
    <div id="abt1">
        <div id="bio">
            <h1>hello, i'm niva.</h1>
            <p class="maintext">I am a senior at Northwestern University ('22) double majoring in Computer Science and Statistics. I 
                am passionate about using algorithms and data ethically, thoughtfully, and for social equity.</p>
        </div>
        <img src ="https://github.com/nnr-nnr/my_website/blob/main/uploads/images/headshot2.jpeg?raw=true"> 
    </div>
        
    <div id = "resume">
        <div>
            <h2>Skills</h2>

            <ul class="bodytext">
                <li><h3>Programming:</h3> <i>proficient in</i> Python, Java, HTML, CSS, Unix | <i>working proficiency in</i> C, C++, JavaScript, Common Lisp</li>
                <li><h3>Statistical:</h3> <i>proficient in</i> Python (pandas, scikit-learn, seaborn), SQL, Excel | <i>working proficiency in</i> R, OpenRefine</li>
                <li><h3>Languages:</h3> <i>fluent in</i> English | <i>working proficiency in</i> Spanish, French, Hindi/Urdu</li>
            </ul>
        </div>

        <div>
            <h2>Recent Experience</h2>

            <ul class="bodytext">
                <li>
                    <h3>Peer Mentor @ <a href="https://www.mccormick.northwestern.edu/computer-science/academics/undergraduate/peer-mentor-program/" target = "blank_">Northwestern University</a> (<i>Sept 21 – Mar 22</i>) </h3> 
                    Taught data collection, cleaning, visualization, modeling, EDA, and statistical & machine learning techniques in Intro. to the Data Science Pipeline (COMP_SCI 396 / Python / 60+ students). Taught data set modeling and organization in Data Management and Information Processing (COMP_SCI 217 / SQL / 60+ students).
                </li>
                
                <li>
                    <h3>Data Scientist, Program Coordinator, Tutor @ <a href= "https://www.lumitutors.org/about" target = "blank_">LumiNUs Tutors</a> (<i>Apr 21 – Jan 22</i>)</h3> 
                    Led collection and analysis of learning and pedagogy data from 50+ students and 40+ tutors (Python). 
                    Used data findings to improve program structure, materials, retention, marketing, and participant experience. 
                </li> 
                
                <li>
                    <h3>SAGE Edge Computing Intern @ <a href= "https://www.anl.gov/mcs/sage-a-softwaredefined-sensor-network" target="blank_">Argonne National Laboratory</a> (<i>Jun 21 – Aug 21</i>)</h3> 
                    Developed plug-in for remote node network for comprehensive atmospheric tracking, modeling, and prediction (Python).
                </li>
            </ul>
        </div>
    </div>
    
    
</div>



<!-- <p>Extremely diligent and detail-oriented Computer Science + Statistics double major seeking a full-time, data-oriented position in the social impact sphere. Skilled in data science (Python, R, SQL, Excel), programming (Python, Java, C), and writing/communication.</p> -->
