<div class="about">
    
    <div>
        <h1>hello, i'm ___.</h1>
        <p class="maintext">I'm a senior at Northwestern University ('22) double majoring in Computer Science + Statistics. I
            'm passionate about the interesection of data science and social impact work -- human-centered, data-driven insights.</p>
        <!-- <p>Extremely diligent and detail-oriented Computer Science + Statistics double major seeking a full-time, data-oriented position in the social impact sphere. Skilled in data science (Python, R, SQL, Excel), programming (Python, Java, C), and writing/communication.</p> -->
    </div>  
    <img src="https://i.pinimg.com/originals/cf/84/53/cf8453c9ccc4a42b1c0d10e5ddc3724d.jpg" >
</div>

