<div class="about">
    <div>
        <div id="bio">
            <h1>hello, i'm niva.</h1>
            <p class="maintext">I'm a senior at Northwestern University ('22) double majoring in Computer Science and Statistics. I
                'm passionate about using data ethically, thoughtfully, and for social good.</p>
        </div>  
        <img src="https://i.pinimg.com/originals/cf/84/53/cf8453c9ccc4a42b1c0d10e5ddc3724d.jpg" >
    </div>
        
    <div>
        <div>
            <h2>Skills</h2>

            <ul class="bodytext">
                <li><h3>Programming:</h3> <i>proficient in</i> Python, Java, HTML, CSS, Unix | <i>working proficiency in</i> C, C++, C#, JavaScript, Common Lisp</li>
                <li><h3>Statistical:</h3> <i>proficient in</i> Python (pandas, scikit-learn, seaborn), SQL, Excel | <i>working proficiency in</i> R (tidyverse, ggplot)</li>
                <li><h3>Languages:</h3> <i>fluent in</i> English | <i>working proficiency in</i> Spanish, French, Hindi</li>
            </ul>
        </div>

        <div>
            <h2>Recent Experience</h2>

            <ul class="bodytext">
                <li>
                    <h3>Peer Mentor @ <a href="https://www.mccormick.northwestern.edu/computer-science/academics/undergraduate/peer-mentor-program/" target = "blank_">Northwestern University</a>:</h3> <i>proficient in</i> Python, Java, HTML, CSS | <i>working proficiency in</i> C, C++, C#, JavaScript</li>
                
                <li><h3>Data Scientist, Programming Lead, Tutor @ <a href= "https://www.lumitutors.org/about" target = "blank_">LumiNUs Tutors</a>:</h3> </li>
                
                <li><h3>Edge Computing Intern @ Argonne National Laboratory:</h3> <i>fluent in</i> English | <i>working proficiency in</i> Spanish, French, Hindi</li>
            </ul>
        </div>
    </div>
    
    
</div>



<!-- <p>Extremely diligent and detail-oriented Computer Science + Statistics double major seeking a full-time, data-oriented position in the social impact sphere. Skilled in data science (Python, R, SQL, Excel), programming (Python, Java, C), and writing/communication.</p> -->
