<nav id = "header">
    <div id="tabs" data-tab = {{currTab}}>
        <div id="current-tab"></div>
    </div>
</nav>

<!-- <nav id = "header">
    <div id="tabs" data-tab = {{currTab}}>
        <div id="current-tab" >
            <img src="https://www.pngkit.com/png/full/5-52117_oval-drawing-oval-png.png">
            <button 
                id="abouttab"
                onlclick = "switchTabs(event)">
                about
            </button>
        </div>
        <button 
                id="abouttab"
                onlclick = "switchTabs(event)">
                about
        </button>
        <button 
            id="projectstab"
            onlclick = "switchTabs(event)">
            projects
        </button>
        <button 
            id="randomtab"
            onlclick = "switchTabs(event)">
            random
        </button>
    </div>
</nav> -->

