<div id = "projectContainer">

    <a class="project" onclick="showProject(this)" data-url="1pZo_LF2k-ieFChN16oE59ZWTq9Jf_KtA">
        <h1>Differentially Private Image Classification</h1>
        <h3>In our increasingly visual world, image data is becoming more widespread and useful. 
            How can we protect individuals' privacy while harvesting valuable insights from image datasets? 
            Simple conventional methods like blurring and pixelating images are insufficient for maintaining privacy. 
            This project builds on the work of privacy researchers to investigate differentially private machine learning techniques and their corresponding privacy-utility trade-offs.</h3>
        <p class = "maintext">#logisticRegression #python #fashionMNIST #privacy #groupProjectSnippet #cs397 #winter22</p>

    </a>

    <a class="project" onclick="showProject(this)" data-url="1flraF4HcDChIPtc6K4ymAFursWy7MiYf">
        <h1>Seattle Census Tract Data: Multivariate Methods</h1>
        <h3>High dimensional datasets pose unique challenges for data analysis. I applied Primary Components Analysis (PCA) and Cluster Analysis to Seattle census data used to develop the city's Racial and Social Equity Composite Index.
            I developed novel desriptive metrics for intuitive and easy assesment of priority population density.</h3>
        <p class = "maintext">#multivariateMethods #PCA #clusterAnalysis #individualProject #stat348 #fall21</p>
    </a>

    <a class="project"  data-url=""> <!-- onclick="showProject(this)" -->
        <h1>Analysis of Regional Linguistics and Sentiment Expression: Yelp Review Data Analysis</h1>
        <h3>How do Yelp reviewers' language and sentiment expression vary by their region? 
            By the type of business they review? By the socioeconomics of the business' neighborhood? 
            This project compares regional linguistics and sentiment expression using ML techniques on COVID-era, publicly available U.S. Yelp review data. 
            (NOTE: updated report is forthcoming).</h3>
        <p class = "maintext">#python #OpenRefine #NLP  #scikit-learn #cs396 #summer21</p>
    </a>

    <a class="project" onclick="showProject(this)" data-url="1tGWCeW-By-Wn5EjQZ3XNEiOEsp27mryk">
        <h1>Diagnosing Scatter Motion from RADAR and LiDAR Data</h1>
        <h3>Plug-in for the internationally deployed remote sensing Waggle node network that allows for comprehensive atmospheric tracking, modeling, and prediction. Applied cutting-edge computer vision 
            techniques to RADAR and LiDAR backscatter visualizations to generate novel atmospheric data.</h3>
        <p class = "maintext">#python #opticalFlow #NAISE #edgeComputing #SAGEproject #individualProject #summer21</p>
    </a>

    <a class="project" onclick="showProject(this)" data-url="1ittn_hskUyme-2TFn-I7cMX7w4tuCwO3">
        <h1>Emotional Machine Orchestrator (EMO)</h1>
        <h3>In recent years, AI has become astonishingly sophisticated at text generation, from writing whole articles and video scripts to detailed game narratives. 
            But can AI generate text that is <i>emotional</i>? A distressed plea? An angry outburst? A joyful proclamation? Yes! This project is the first-ever package of language models with distinct modes of affective response. 
            We integrated these models into a dialogue system that generates multi-line scripts following an inputted emotional arc.</h3>
        <p class = "maintext">#GPT2 #ML #python #NLP #PyTorch #groupProject #cs338 #spring21</p>
    </a>     

    <a class="project" onclick="showProject(this)" data-url="1qySDAEwjotZSlRwcaIeUJRz25Xu16Uvm">
        <h1>The PaintBlaster</h1>
        <h3>How might those without access to well-ventilated spaces spray paint? Challenged by the paint manufatcturer Rust-Oleum, our group designed and built a functional prototype, The PaintBlaster, to solve this problem.</h3>
        <p class = "maintext">#sprayPainting #engineering #prototyping #groupProject #DTC #spring19</p>
    </a>

    <a class="project" onclick="showProject(this)" data-url="1dfUEjx0BTFoAtacUhP5dgInVnVQlpcPK">
        <h1>The FootFinder</h1>
        <h3>Individuals undergoing post-stroke gait therapy tend to look down for visual feedback of their lower extremities. However, this compromises their posture and thus introduces other health concerns. 
            Challenged by a physical therapist at the Shirley Ryan Ability Lab, our group designed and built a functional prototype, The FootFinder, to solve this problem.</h3>
        <p class = "maintext">#physicalTherapy #engineering #prototyping #groupProject #DTC #winter19</p>
    </a>

</div>