<div id = "projectContainer">

    <div class="project">
        <h1>Differentially Private Image Classification</h1>
        <h3>In our increasingly visual world, image datasets are becoming more common and useful. How can we protect individuals' privacy while harvesting valuable insights from such datasets? Here we built on the work of privacy researchers to apply differential privacy techniques and investigate the privacy-utility trade-off.</h3>
        <p class = "maintext">#logisticRegression #python #fashionMNIST #privacy #groupProject #cs397 #winter22</p>

    </div>

    <div class="project">
        <h1>Seattle Census Tract Data Analyses</h1>
        <h3>High dimensional datasets. I applied mutivariate methods to Seattle census data to derive novel summary metrics for intuitive and easy assesment of.</h3>
        <p class = "maintext">#multivariateMethods #PCA #clusterAnalysis #individualProject #stat348 #fall21</p>
    </div>

    <div class="project">
        <h1>Yelp Review Data</h1>
        <h3>Plug-in (Python) for the internationally deployed remote sensing Waggle node network that allows for comprehensive atmospheric tracking, modeling, and prediction. Applied cutting-edge computer vision techniques to RADAR and LiDAR backscatter visualizations to generate novel atmospheric data.</h3>
        <p class = "maintext">#python #opticalFlow #NAISE #internship #cs396 #summer21</p>
    </div>

    <div class="project">
        <h1>Diagnosing Scatter Motion from RADAR and LiDAR Data</h1>
        <h3>Plug-in (Python) for the internationally deployed remote sensing Waggle node network that allows for comprehensive atmospheric tracking, modeling, and prediction. Applied cutting-edge computer vision techniques to RADAR and LiDAR backscatter visualizations to generate novel atmospheric data.</h3>
        <p class = "maintext">#python #opticalFlow #NAISE #edgeComputing # SAGEproject #individualProject #summer21</p>
    </div>

    <div class="project">
        <a>
        <h1>Emotional Machine Orchestrator (EMO)</h1>
        <h3>First-ever package of language models with distinct modes of affective response. Integrated these models into a dialogue system that generates multi-line dialogue following an inputted emotional arc.</h3>
        <p class = "maintext">#GPT2 #ML #python #NLP #PyTorch #groupProject #cs338 #spring21</p>
        </a>
    </div>     

    <div class="project">
        <h1>The FootFinder</h1>
        <h3>A device to aid individuals undergoing post-stroke gait therapy. Challenged by Shirley Ryan Ability physical therapist.</h3>
        <p class = "maintext">#engineering #prototyping #groupProject #DTC #spring19</p>
    </div>


</div>