<div id = "projectContainer">

    <div class="project">
        <h1>Differentially Private Image Classification</h1>
        <h3>A device to aid individuals undergoing post-stroke gait therapy. Challenged by Shirley Ryan Ability physical therapist.</h3>
        <p class = "maintext">#logisticRegression #fashionMNIST #privacy #python</p>

    </div>

    <div class="project">
        <h1>Seattle Census Tract Data Analyses</h1>
        <h3>A device to aid individuals undergoing post-stroke gait therapy. Challenged by Shirley Ryan Ability physical therapist.</h3>
        <p class = "maintext">#multivariateMethods #PCA #clusterAnalysis #individualProject #fall21</p>
    </div>

    <div class="project">
        <h1>Diagnosing Scatter Motion from RADAR and LiDAR Data</h1>
        <h3>Plug-in (Python) for the internationally deployed remote sensing Waggle node network that allows for comprehensive atmospheric tracking, modeling, and prediction. Applied cutting-edge computer vision techniques to RADAR and LiDAR backscatter visualizations to generate novel atmospheric data.</h3>
        <p class = "maintext">#python #opticalFlow #NAISE #internship #individualProject #summer21</p>
    </div>

    <div class="project">
        <h1>Emotional Machine Orchestrator (EMO)</h1>
        <h3>First-ever package of language models with distinct modes of affective response. Integrated these models into a dialogue system that creates multi-line dialogue following an inputted emotional arc.</h3>
        <p class = "maintext">#GPT2 #ML #python #NLP #PyTorch #groupProject #spring21</p>
    </div>

    <div class="project">
        <h1>The FootFinder</h1>
        <h3>A device to aid individuals undergoing post-stroke gait therapy. Challenged by Shirley Ryan Ability physical therapist.</h3>
        <p class = "maintext">#engineering #prototyping #groupProject #spring19</p>
    </div>

    <div class="project">
        <p>hi</p>
    </div>

</div>