/* *************** */
/* FRAMEWORK       */
/* *************** */

body {
    display: flex;
    /* justify-content:; */
    justify-content: space-between;
    background-image: linear-gradient(to bottom,rgb(179, 243, 105), rgba(230, 74, 235, 0.692));
    height: 98vh;
    color:black;

    /* border: blue 2px solid; */
}

body > * {
    /* border: red 2px solid; */
}

aside {
    position: fixed;
    height: 100%;
    /* left: 0;
    top:0;
    bottom: 0 */
}

/* *************** */
/* BARS ANIMATION  */
/* *************** */

#bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* border: solid black 1px; */
}

#bar {
    background-color: rgb(229, 74, 235);
    height: 1vh;
    animation: center-animate 2s ease infinite alternate;
}

@keyframes center-animate {
    0% {
        transform: scaleX(1);
        transform-origin: left;
        background-color: rgba(230, 74, 235, 0.6);
    }
    50% {
        transform: scaleX(1.6);
        transform-origin: left;
        background-color: rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scaleX(1.8);
        transform-origin: left;
        background-color: rgba(179, 243, 105, 0.6);
    }
}

/* *************** */
/* NAVIAGATION BAR */
/* *************** */

#tabs {
    display: flex;
    align-content:center;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

#current-tab {
    display: flex;
    pointer-events:none;
    justify-content: center;
}
#current-tab img {
    width: 12vw;
    position: absolute;
    align-self: center;
}


#tabs a {
    font-family: 'Space Mono', monospace;
    font-size: x-large;
    font-weight: 500;
    text-decoration:none;

    padding: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    
    /* border: solid black 1px; */
}

#tabs > a:hover {
    color: rgb(229, 74, 235);
}


/* *************** */
/*     MAIN        */
/* *************** */

main {
    width: 100%;

    /* border: 2px slateblue solid; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* padding: 1em; */
    margin: 1em;
    margin-right: 3em;
    margin-left: 7em;
    /* border: red 4px solid; */
}

main > * {
    /* border: 3px lime solid;  */
}

/* *************** */
/*     ABOUT       */
/* *************** */

.about {
    display: flex;
    flex-direction: column;
    /* border: 2px black solid;  */
}

.about > * {
    margin: .25em;
    /* border: 1px darkcyan solid; */
    display: flex;
}

.about div > * {
    margin: 0.5em;
    /* border: 1px firebrick solid; */
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
}

.about img {
    width: 15%;
    object-fit: cover;
    border: 1px solid black;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
    font-weight: 400;
    text-decoration: underline rgb(229, 74, 235);
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    font-weight: 400;
    text-decoration: underline rgb(179, 243, 105);
}

h3 {
    justify-self: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    font-weight: 400;
}

.maintext {
    font-family: 'Roboto Mono', monospace;
    text-align: left; 
    /* align-self: center; */
    font-weight: 200;
}

.bodytext {
    font-family: 'Roboto Mono', monospace;
    text-align: left; 
    /* align-self: center; */
    font-weight: 200;
    font-size: 75%;
}

ul {
    list-style-type: "  +  ";
}



/* *************** */
/*    FOOTER       */
/* *************** */

#footer {
    border: 1px black solid;
    padding: 0.5em;
    /* position: relative; */
    /* position: absolute;
    bottom: 0; */
}

#footer a {
    padding: 0.5em;
    text-decoration: none;
}

#footer i{
    font-size: 1.75em;   
}

a {
    color: black;
}


.footerLink:hover {
    color: rgb(179, 243, 105);
}



/* *************** */
/*    RANDOM       */
/* *************** */

.sneak {
    position: fixed;
    width:75vw;
    height: 50vh;
    background-color: black;
    bottom: 12vh; 
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* bottom: 0; */
}

.sneak > .maintext {
    color: rgb(179, 243, 105);
    font-size: large;
}

.sneak:hover {
    background-color: rgba(0, 0, 0, 0.193);
}

.random {
    /* position: fixed; */
    display: flex;
    /* justify-content: space-between; */
    /* align-content: center; */
}

.filler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book { 
    width: 15vw;
    padding: 2vw;
    position: relative;
    /* top: 0; */
}

.random div {
    display: flex;
    align-content: center;
}

.random > * {
    /* border: blueviolet 2px solid; */
}
.random div > * {
    /* border: pink 2px solid; */
}

.tape {
    width: 5vw;
    position: fixed;
    /* justify-self: right; */
    /* left:50px; top:20px;  */
    /* top: 100px; */

}




/* @media (max-width: 900px) {
} */

/* @media (max-width: 700px) {
    .card, .stories {
        width: 90vw;
    }
} */