/* *************** */
/* FRAMEWORK       */
/* *************** */

body {
    display: flex;
    justify-content: space-between;
    /* align-items:end; */
    background: linear-gradient(to bottom,rgb(179, 243, 105), rgba(230, 74, 235, 0.692)) no-repeat center center fixed; 
    height: 98vh;
    /* border: blue 1px solid; */
}

body > * {
    /* border: red 2px solid; */
}

aside {
    position: fixed;
    height: 100%;
}

/* *************** */
/* BARS ANIMATION  */
/* *************** */

#bars {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    /* border: solid black 1px; */
}

#bar {
    background-color: rgb(229, 74, 235);
    height: 1vh;
    animation: center-animate 2s ease infinite alternate;
}

@keyframes center-animate {
    0% {
        transform: scaleX(1);
        transform-origin: left;
        background-color: rgba(230, 74, 235, 0.6);
    }
    50% {
        transform: scaleX(1.6);
        transform-origin: left;
        background-color: rgba(0, 0, 0, 0.6);
    }
    100% {
        transform: scaleX(1.8);
        transform-origin: left;
        background-color: rgba(179, 243, 105, 0.6);
    }
}

/* *************** */
/*     MAIN        */
/* *************** */

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: .5em;
    margin: 1em;
    margin-right: 3em;
    margin-left: 7.5em;
}

main > * {
    /* border: 1px rgb(255, 0, 179) solid;  */
}

/* *************** */
/* NAVIAGATION BAR */
/* *************** */

#tabs {
    display: flex;
    align-content:center;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

#current-tab {
    display: flex;
    pointer-events:none;
    justify-content: center;
}
#current-tab img {
    width: 150px;
    position: absolute;
    align-self: center;
    /* behavior: ; */
}


#tabs a {
    font-family: 'Space Mono', monospace;
    font-size: x-large;
    font-weight: 500;
    text-decoration:none;

    padding: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    
    /* border: solid black 1px; */
}

#tabs > a:hover {
    color: rgb(229, 74, 235);
}

/* *************** */
/*     ABOUT       */
/* *************** */

.about {
    display: flex;
    flex-direction: column;
    
    /* border: 2px black solid;  */
}

.about > * {
    margin: .25em;
    /* border: 1px darkcyan solid; */
    display: flex;
}

.about > div > * {
    margin: 0.75em;
    /* border: 1px firebrick solid; */
}

#bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
}

#resume {
    animation-duration: 1s;
    animation-name: slidein;
}

.about img {
    width: 15%;
    /* height: 15%; */
    width:15vw;
    height:15vw;
    object-fit: cover;
    border: 1px solid black;
    border-radius:50%;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
    font-weight: 400;
    text-decoration: underline rgb(229, 74, 235);

    /*  for safari */
    -webkit-text-decoration-line:  underline !important;
   -webkit-text-decoration-color: rgb(229, 74, 235) !important;
   -webkit-text-decoration-style: solid !important;
   -webkit-text-decoration-thickness: 2px !important;
}

h2 {
    font-family: 'Roboto Mono', monospace;
    font-size: medium;
    font-weight: 400;
    text-decoration: underline rgb(179, 243, 105);
}

h3 {
    justify-self: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 100%;
    font-weight: 400;
}

.maintext {
    font-family: 'Roboto Mono', monospace;
    text-align: left; 
    /* align-self: center; */
    font-weight: 300;
}

.bodytext {
    font-family: 'Roboto Mono', monospace;
    text-align: left; 
    /* align-self: center; */
    font-weight: 200;
    font-size: 75%;
}

ul {
    list-style-type: "  +  ";
}



/* *************** */
/*    FOOTER       */
/* *************** */

#footer {
    border: 1px black solid;
    padding: 0.5em;
    animation-duration: 1s;
    animation-name: slidein;

    /* position: relative; */
    /* position: absolute;
    bottom: 0; */
}

#footer a {
    padding: 0.5em;
    text-decoration: none;
}

#footer i{
    font-size: 1.75em;   
}

a {
    color: black;
}


.footerLink:hover {
    color: rgb(179, 243, 105);
}



/* *************** */
/*    RANDOM       */
/* *************** */

.holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sneak {
    background-color: rgba(0, 0, 0, 0.193);
    bottom: 12vh; 
    z-index: 1;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

#filler {
    position:absolute;
    min-width:76vw;
    min-height:28vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#filler, #fillerProject .maintext {
    color: rgb(179, 243, 105);
    font-size: large;
}

.random {
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.book { 
    width: 15vw;
    padding: 2vw;
    position: relative;
    z-index: 0;
    /* top: 0; */
}

.random div {
    display: flex;
    align-content: center;
}

.random > * {
    /* border: blueviolet 2px solid; */
}
.random div > * {
    /* border: pink 2px solid; */
}

.tape {
    width: 5vw;
    position: fixed;
    /* justify-self: right; */
    /* left:50px; top:20px;  */
    /* top: 100px; */

}


/* *************** */
/* PROJECTS        */
/* *************** */

#projectContainer {
    width: 90%;
    padding-top: 1em;
    padding-bottom: 1em;

    animation-duration: 1s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
      margin-bottom: -50%;
    }
    to {
      margin-bottom: 0%;
    }
}

.project {
    padding: 2vmin;
    background: rgba(0, 0, 0, 0.829);
    margin: 1em;
    transition: box-shadow 0.3s linear;
}

.project h1 {
    color: white;
    font-size: larger;
}
.project h3 {
    color: rgb(179, 243, 105);
    font-weight: 200;
    font-size: small;
}
.project .maintext {
    /* color: white; */
    color: rgb(229, 74, 235);
    font-size: small;
}

  
.project:hover { 
    box-shadow: 4px 4px 0px 4px rgb(179, 243, 105), -4px -4px 0px 4px rgb(229, 74, 235);
    background-color: rgba(0, 0, 0, 0.884);
}




/* INTERNET SQUARES CODE */

#projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em, 1fr));
    /* grid-template-columns: repeat(3, minmax(5vw, 5fr)); */
    grid-auto-rows: 1fr;
}

#projectContainer::before {
    content: '';
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

#projectContainer > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}


/* *************** */
/* MODALS        */
/* *************** */


.modal-bg {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(50, 50, 50, 0.8);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* @media (max-width: 900px) {
} */

@media (max-width: 700px) {
    #bars {
        display: none;
    }

    main {
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    
        padding: .5em;
        margin: 1em;
        /* margin-right: 3em;
        margin-left: 7.5em; */
    }
}